<!DOCTYPE html>
<html dir="ltr" mozdisallowselectionprint>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="google" content="notranslate">
  <title>StoreNotify</title>

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='fileup.css') }}"  >
	<link href="{{ url_for('static', filename='app.css') }}"   rel="stylesheet">
 <script type="text/javascript"> 
$('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen..."); 
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
  }
});

 </script>
</head>

<body tabindex='1'>
    <div class="parent container d-flex justify-content-center align-items-center h-100">
        <div class="child"> <!-- Your code goes inside this div/form -->
            <div class="row justify-content-center">
              
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">FILE Uploaded Successfully </h5>
                            <p class="card-text"> 
                                <span > {{ filename }}</span>
                                <span >  </span>
                                <br> 
                                <span > Size :  </span>
                                <span > </span>
                            </p>
                           
                          </div>
                      </div>
                  
                </div>
              
              </div>
              <div class="row justify-content-center">
                <div class="col-4">
                    <a href="{{ url_for('view_pdf', filename=filename) }}"  class="btn btn-primary">View</a>
                </div>
              </div>
<!-- <div class="file-upload">
  <div class="file-select">
    <div class="file-select-button" id="fileName">Choose File</div>
    <div class="file-select-name" id="noFile">No file chosen...</div> 
    <input type="file" name="chooseFile" id="chooseFile">
  </div>
</div> -->

<!-- IGNORE -->
<div class="copyright">
  By <a href="http://storenotify.in">StoreNotify.in</a>.
</div>


</div>
</div>


</body>
</html>